In [1]:
import pandas as pd
import datetime

# 01. Ïú†ÌäúÎ∏å Ïù∏Í∏∞ ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv", index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

**Question 01. Ïù∏Í∏∞ ÎèôÏòÅÏÉÅ Ï†úÏûë ÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº(ÎÇ†Ïßú Í∏∞Ï§Ä, Ï§ëÎ≥µ Ìè¨Ìï®).**

In [4]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['trending_date2'].head()

0   2021-01-01
1   2021-01-01
2   2021-01-01
3   2021-01-01
4   2021-01-01
Name: trending_date2, dtype: datetime64[ns]

In [5]:
# sol1
list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['Ïû•ÏÇêÏ≠à',
 'Ï¥ùÎ™áÎ™Ö',
 'ÌååÎøåÎ¶¨',
 'Ïß§Ìà∞',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'SPOTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'BANGTANTV']

In [6]:
# sol2
df[df['channelId'].isin(df['channelId'].value_counts().index[:10])]['channelTitle'].drop_duplicates().reset_index(drop=True)

0                      Ïû•ÏÇêÏ≠à
1                      Ï¥ùÎ™áÎ™Ö
2                      ÌååÎøåÎ¶¨
3                       Ïß§Ìà∞
4          Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê
5    Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê
6                    SPOTV
7                   Ï±ÑÎÑê Ïã≠Ïò§Ïïº
8                      Ïù¥Í≥ºÏû•
9                BANGTANTV
Name: channelTitle, dtype: object

**Question 03. Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞
Í≥†Ïú≥Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ Ìïú Î≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞úÏàòÎ•º Íµ¨ÌïòÏó¨Îùº.**

In [7]:
# sol1
target = df[['channelTitle', 'channelId']].drop_duplicates().groupby(['channelId']).size()
len(target[target>1])

71

In [8]:
# sol2
target = df[['channelTitle', 'channelId']].drop_duplicates()['channelId'].value_counts()
len(target[target>1])

71

**Question 05. ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™á Í∞úÏî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº.**

In [9]:
# sol1
df.groupby(df['trending_date2'].dt.day_name())['categoryId'].value_counts().unstack()

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
trending_date2,,,,,,,,,,,,,,,
Friday,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
Monday,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
Saturday,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
Sunday,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9
Thursday,246,128,890,207,682,92,282,1341,560,2954,470,375,194,166,13
Tuesday,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
Wednesday,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12

In [10]:
# sol2
df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'])['categoryId'].size().unstack()

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
trending_date2,,,,,,,,,,,,,,,
Friday,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
Monday,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
Saturday,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
Sunday,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9
Thursday,246,128,890,207,682,92,282,1341,560,2954,470,375,194,166,13
Tuesday,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
Wednesday,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12

In [11]:
# sol3
target = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
target.pivot(index='trending_date2', columns='categoryId', values='size')

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
trending_date2,,,,,,,,,,,,,,,
Friday,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
Monday,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
Saturday,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
Sunday,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9
Thursday,246,128,890,207,682,92,282,1341,560,2954,470,375,194,166,13
Tuesday,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
Wednesday,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12

**Question 06. ÎåìÍ∏Ä ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. view_count ÎåÄÎπÑ ÎåìÍ∏Ä ÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº(view_count Í∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§).**

In [12]:
target1 = df[df['view_count']!=0]
target2 = target1.copy()
target2['ratio'] = target1['comment_count'] / target1['view_count']
target2.sort_values(by='ratio').iloc[-1, :]['title']

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

**Question 07. ÎåìÍ∏Ä ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. view_count ÎåÄÎπÑ ÎåìÍ∏Ä ÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº(view_count, ratio Í∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§).**

In [13]:
# sol1
target1 = df[(df['view_count']!=0)]
target2 = target1.copy()
target2['ratio'] = target2['comment_count'] / target2['view_count']
target2[target2['ratio']!=0].sort_values(by='ratio').iloc[0, :]['title']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [14]:
# sol2
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
df.iloc[ratio[ratio!=0].index[0]]['title']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

**Question 08. like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?(like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§).**

In [15]:
# sol1
ratio = (df['dislikes'] / df['likes']).dropna().sort_values()
df.iloc[ratio[ratio!=0].index[0]]['title']

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [16]:
# sol2
target1 = df[(df['likes']!=0) & (df['dislikes']!=0)]
target2 = target1.copy()
target2['ratio'] = target2['dislikes'] / target2['likes']
target2.sort_values(by='ratio').iloc[0]['title']

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [17]:
# sol3
target = df.loc[(df.likes!=0) & (df.dislikes!=0)]
num = (target['dislikes'] / target['likes']).sort_values().index[0]
df.iloc[num].title

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

**Question 09. Í∞ÄÏû• ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?(ÎÇ†Ïßú Í∏∞Ï§Ä, Ï§ëÎ≥µ Ìè¨Ìï®).**

In [18]:
df[df['channelId']==df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'Ïß§Ìà∞'

**Question 10. 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?**

In [19]:
(df[['title', 'channelId']].value_counts()>=20).sum()

40

# 02. Ïú†ÌäúÎ∏å Í≥µÎ≤î Ïª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [20]:
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

**Question 12. ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcount Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº.**

In [21]:
# sol1
video['ct'] = pd.to_datetime(video['ct'])
target = video[['ct', 'videoname', 'viewcnt']].value_counts().reset_index().sort_values(by='ct').drop_duplicates('videoname', keep='last')
target[['ct', 'videoname', 'viewcnt']].sort_values(by='videoname').reset_index(drop=True)

                   ct videoname  viewcnt
0 2021-11-01 15:30:03    Í≥µÎ≤î EP1  3180532
1 2021-11-01 15:30:03    Í≥µÎ≤î EP2  2199328
2 2021-11-01 15:30:03    Í≥µÎ≤î EP3  1671294
3 2021-11-01 15:30:03    Í≥µÎ≤î EP4  1818493
4 2021-11-01 15:30:04    Í≥µÎ≤î EP5  1503435
5 2021-11-01 15:30:04    Í≥µÎ≤î EP6  1750222
6 2021-11-01 15:30:05    Í≥µÎ≤î EP7  1630200
7 2021-11-01 15:30:05    Í≥µÎ≤î EP8  1289088

In [22]:
# so12
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

**Question 13. Channel Îç∞Ïù¥ÌÑ∞ Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº.**

In [23]:
channel['ct'] = pd.to_datetime(channel['ct'])

In [24]:
channel[(channel.ct>'2021-10-03')].sort_values(['ct', 'channelname']).drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']]

          channelname   subcnt
393            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
139             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
266        Ï∏ÑÏ†ïChuJeong   322000
901        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
1028      Î¶¥ÌéÑ Lilpearl    10100
520   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
647               Ï°∞ÎÇòÎã®   215000
774           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
1276    Balming Tiger    54300
1155    Í≥ΩÌÜ†Î¶¨ kwak tori   471000
12                ÍΩàÎöúÎ£π  1330000

**Question 14. Í∞Å Ï±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ÍπåÏßÄ Íµ¨ÎèÖÏûê Ïàò(subcnt)Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº.**

In [25]:
# sol1
start = channel[channel['ct']>='2021-10-03 03:00:00']
end = channel[channel['ct']<='2021-11-01 15:00:00']

start_channel = start[['ct', 'channelname', 'subcnt']].drop_duplicates('channelname', keep='first')
end_channel = end[['ct',  'channelname', 'subcnt']].drop_duplicates('channelname', keep='last')

# start_channel.columns = ['ct', 'channelname', 'startcnt']
# end_channel.columns = ['ct', 'channelname', 'endcnt']

target = pd.merge(start_channel, end_channel, on='channelname')
target['diff'] = target['subcnt_y']-target['subcnt_x']
target[['channelname', 'diff']].sort_values(by='diff').sort_index()

        channelname   diff
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

In [26]:
# sol2
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H')=='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H')=='2021-10-03 03']

end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.columns = ['channelname', 'end_sub']
start_df.columns = ['channelname', 'start_sub']

tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
tt[['channelname', 'del']]

        channelname    del
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

**Question 15. Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§ Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞ Ï§ë ÏàòÏßë Í∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂Ñ Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Íµ¨Í∞Ñ(Ìï¥Îãπ ÏãúÏ†ê Ï†Ñ, ÌõÑ)Ïùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº.**

In [27]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [28]:
target = video[video['videoname'].str.contains('EP1')].sort_values(by='ct')
target[(target.ct.diff(1) >= datetime.timedelta(minutes=20)) |\
       (target.ct.diff(1) <= datetime.timedelta(minutes=5))].index
# Int64Index([721, 722, 1636], dtype='int64')
target[target.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,Í≥µÎ≤î EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,Í≥µÎ≤î EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,Í≥µÎ≤î EP1

**Question 16. Í∞Å ÏóêÌîºÏÜåÎìúÏùò ÏãúÏûë ÎÇ†Ïßú(ÎÖÑ-Ïõî-Ïùº)Î•º ÏóêÌîºÏÜåÎìú Ïù¥Î¶ÑÍ≥º Î¨∂Ïñ¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† Ï∂úÎ†•ÌïòÎùº.**

In [29]:
# sol1
target = video.copy()
target['ct'] = target['ct'].dt.date
target.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='first')[['videoname', 'ct']]

      videoname          ct
10       Í≥µÎ≤î EP1  2021-10-07
3496     Í≥µÎ≤î EP2  2021-10-09
6696     Í≥µÎ≤î EP3  2021-10-14
9264     Í≥µÎ≤î EP4  2021-10-16
11544    Í≥µÎ≤î EP5  2021-10-21
13661    Í≥µÎ≤î EP6  2021-10-23
13106    Í≥µÎ≤î EP7  2021-10-28
14935    Í≥µÎ≤î EP8  2021-10-30

In [30]:
# sol2
start_date = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct', 'videoname']]
start_date['date'] = start_date.ct.dt.date
start_date[['date', 'videoname']]

             date videoname
10     2021-10-07    Í≥µÎ≤î EP1
3496   2021-10-09    Í≥µÎ≤î EP2
6696   2021-10-14    Í≥µÎ≤î EP3
9264   2021-10-16    Í≥µÎ≤î EP4
11544  2021-10-21    Í≥µÎ≤î EP5
13661  2021-10-23    Í≥µÎ≤î EP6
13106  2021-10-28    Í≥µÎ≤î EP7
14935  2021-10-30    Í≥µÎ≤î EP8

**Question 17. Í≥µÎ≤î Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•ÌïòÎùº.**

In [31]:
# sol1
target = video[video['ct'].dt.hour==21]
target.sort_values(['ct', 'videoname']).drop_duplicates('videoname', keep='first')[['viewcnt', 'ct', 'videoname']].sort_values(by='viewcnt', ascending=False).reset_index(drop=True)

   viewcnt                  ct videoname
0   264029 2021-10-30 21:00:08    Í≥µÎ≤î EP8
1   252032 2021-10-28 21:00:04    Í≥µÎ≤î EP7
2   217674 2021-10-16 21:00:04    Í≥µÎ≤î EP4
3   213899 2021-10-23 21:00:06    Í≥µÎ≤î EP6
4   201179 2021-10-21 21:00:04    Í≥µÎ≤î EP5
5   148144 2021-10-09 21:00:03    Í≥µÎ≤î EP2
6   147183 2021-10-14 21:00:04    Í≥µÎ≤î EP3
7   117340 2021-10-07 21:00:03    Í≥µÎ≤î EP1

In [32]:
# sol2
video['time'] = video.ct.dt.hour
video.loc[video['time']==21].sort_values(['videoname', 'ct']).drop_duplicates('videoname')[['viewcnt', 'ct', 'videoname']].sort_values(by='viewcnt', ascending=False).reset_index(drop=True)

   viewcnt                  ct videoname
0   264029 2021-10-30 21:00:08    Í≥µÎ≤î EP8
1   252032 2021-10-28 21:00:04    Í≥µÎ≤î EP7
2   217674 2021-10-16 21:00:04    Í≥µÎ≤î EP4
3   213899 2021-10-23 21:00:06    Í≥µÎ≤î EP6
4   201179 2021-10-21 21:00:04    Í≥µÎ≤î EP5
5   148144 2021-10-09 21:00:03    Í≥µÎ≤î EP2
6   147183 2021-10-14 21:00:04    Í≥µÎ≤î EP3
7   117340 2021-10-07 21:00:03    Í≥µÎ≤î EP1

**Question 18. video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎùº.**

In [33]:
target = video[['videoname', 'likecnt', 'dislikecnt', 'ct']].sort_values(by='ct').drop_duplicates('videoname', keep='last')
target['ratio'] = target['dislikecnt'] / target['likecnt']
target[['videoname', 'ratio']].sort_values(by='ratio').reset_index(drop=True)

  videoname     ratio
0    Í≥µÎ≤î EP7  0.013636
1    Í≥µÎ≤î EP6  0.015881
2    Í≥µÎ≤î EP4  0.017971
3    Í≥µÎ≤î EP5  0.021128
4    Í≥µÎ≤î EP3  0.022360
5    Í≥µÎ≤î EP1  0.027118
6    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

**Question 19. 2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎìúÏãúÏò§.**

In [34]:
# sol1
target = video[(video['ct']>='2021-11-01 00:00:00') & (video['ct']<='2021-11-01 15:00:00')]
start = target[['videoname', 'ct', 'viewcnt']].sort_values(by='ct').drop_duplicates('videoname', keep='first')
end = target[['videoname', 'ct', 'viewcnt']].sort_values(by='ct').drop_duplicates('videoname', keep='last')
start.columns = ['videoname', 'ct', 'start_cnt']
end.columns = ['videoname', 'ct', 'end_cnt']
result = pd.merge(start, end, on='videoname')
result['viewcnt'] = result['end_cnt'] - result['start_cnt']
result[['videoname', 'viewcnt']].sort_values(by='videoname')

  videoname  viewcnt
0    Í≥µÎ≤î EP1    13298
1    Í≥µÎ≤î EP2    10300
2    Í≥µÎ≤î EP3     9927
4    Í≥µÎ≤î EP4     9824
5    Í≥µÎ≤î EP5    10824
3    Í≥µÎ≤î EP6    14141
7    Í≥µÎ≤î EP7    26949
6    Í≥µÎ≤î EP8    89147

In [35]:
# sol2
start = '2021-11-01 00:00:00'
end = '2021-11-01 15:00:00'

target = video.loc[(video['ct']>=start) & (video['ct']<=end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

target[['videoname', 'viewcnt']].groupby('videoname').agg(check)

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

# 03. ÏõîÎìúÏªµ Ï∂úÏ†Ñ ÏÑ†Ïàò Í≥® Í∏∞Î°ù Îç∞Ïù¥ÌÑ∞

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

**Question 21. Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞ÑÏùò ÎÇòÎùºÎ≥Ñ Í≥® ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÎìùÏ†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú Ï∂úÎ†•ÌïòÎùº.**

In [37]:
df[['Country', 'Goals']].groupby('Country').sum().sort_values(by='Goals', ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

**Question 22. Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞Ñ ÎèôÏïà Í≥® ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº.**

In [38]:
df.groupby(['Country'])['Player'].size().to_frame('size').sort_values(by='size', ascending=False).head(5)

           size
Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58

**Quesiton 23. Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ-ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§. ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™á Í±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº.**

In [39]:
df['yearLst'] = df['Years'].str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value))!=4:
            return False
    else:
        return True

df['check'] = df['yearLst'].apply(checkFour)
len(df[df['check']==False])

45

In [40]:
df['yearLst'].str.len()

0       4
1       3
2       2
3       1
4       4
       ..
1290    1
1291    2
1292    1
1293    1
1294    2
Name: yearLst, Length: 1295, dtype: int64

# 04. ÏÑúÏö∏Ïãú Îî∞Î¶âÏù¥ Ïù¥Ïö© Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [41]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ÎåÄÏó¨ÏùºÏûê  ÎåÄÏó¨ÏãúÍ∞Ñ  ÎåÄÏó¨ÏÜåÎ≤àÌò∏ ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú ÏÑ±Î≥Ñ Ïó∞Î†πÎåÄÏΩîÎìú  Ïù¥Ïö©Í±¥Ïàò    Ïö¥ÎèôÎüâ   ÌÉÑÏÜåÎüâ     Ïù¥ÎèôÍ±∞Î¶¨  ÏÇ¨Ïö©ÏãúÍ∞Ñ
0  2021-06-01     0   3541    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  13.04  0.17   731.55     6

**Question 32. Í∞Å ÏùºÏûêÏùò ÏöîÏùºÏùÑ ÌëúÍ∏∞ÌïòÍ≥† (‚ÄòMonday‚Äô ~‚ÄôSunday‚Äô) ‚Äòday_name‚Äô Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† Ïù¥Î•º Ïù¥Ïö©ÌïòÏó¨ ÏöîÏùºÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò Ï¥ùÌï©ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº.**

In [42]:
# Ïù¥Ïö©Í±¥ÏàòÏóê Îî∞ÎùºÏÑú Í≥ÑÏÇ∞
df['ÎåÄÏó¨ÏùºÏûê'] = pd.to_datetime(df['ÎåÄÏó¨ÏùºÏûê'])
df['day_name'] = df['ÎåÄÏó¨ÏùºÏûê'].dt.day_name()
df.groupby('day_name')['Ïù¥Ïö©Í±¥Ïàò'].sum().to_frame('cnt')

              cnt
day_name
Friday     120716
Monday     119271
Saturday   110900
Sunday      99297
Thursday    60338
Tuesday    114492
Wednesday  122653

In [43]:
# ÏöîÏùºÎ≥Ñ Í±¥ÏàòÏóê Îî∞Îùº Í≥ÑÏÇ∞
df['day_name'].value_counts().to_frame()

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

**Quesiton 33. ÏöîÏùºÎ≥Ñ Í∞ÄÏû• ÎßéÏù¥ Ïù¥Ïö©Ìïú ÎåÄÏó¨ÏÜåÏùò Ïù¥Ïö©ÌöüÏàòÏôÄ ÎåÄÏó¨ÏÜå Î≤àÌò∏Î•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº.**

In [44]:
# sol1
target = df.groupby(['day_name', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).size().reset_index().sort_values(by=0, ascending=False).drop_duplicates('day_name', keep='first')
target.reset_index(drop=True).rename(columns={0: 'cnt'})

    day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  cnt
0   Saturday    502  378
1     Sunday    502  372
2  Wednesday    502  282
3     Friday    502  277
4    Tuesday    502  267
5     Monday    502  242
6   Thursday   2715  137

In [45]:
# sol2
target = df.groupby(['day_name', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).size().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index()
target.drop_duplicates('day_name', keep='first').reset_index(drop=True)

    day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

**Question 34. ÎÇòÏù¥ÎåÄÎ≥Ñ ÎåÄÏó¨Íµ¨Î∂Ñ ÏΩîÎìúÏùò (ÏùºÏùºÍ∂å/Ï†ÑÏ≤¥ÌöüÏàò) ÎπÑÏú®ÏùÑ Íµ¨Ìïú ÌõÑ Í∞ÄÏû• ÎÜíÏùÄ ÎπÑÏú®ÏùÑ Í∞ÄÏßÄÎäî ÎÇòÏù¥ÎåÄÎ•º ÌôïÏù∏ÌïòÎùº. ÏùºÏùºÍ∂åÏùò Í≤ΩÏö∞ ÏùºÏùºÍ∂åÍ≥º ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)ÏùÑ Î™®Îëê Ìè¨Ìï®ÌïòÎùº.**

In [46]:
daily = df[df.ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú.isin(['ÏùºÏùºÍ∂å', 'ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)'])].Ïó∞Î†πÎåÄÏΩîÎìú.value_counts().sort_index()
total = df.Ïó∞Î†πÎåÄÏΩîÎìú.value_counts().sort_index()
ratio = (daily/total).sort_values(ascending=False)
print(ratio)
print(ratio.index[0])

~10ÎåÄ    0.312525
20ÎåÄ     0.239913
30ÎåÄ     0.166702
40ÎåÄ     0.110585
50ÎåÄ     0.065414
70ÎåÄ~    0.048962
60ÎåÄ     0.042462
Name: Ïó∞Î†πÎåÄÏΩîÎìú, dtype: float64
~10ÎåÄ

**Question 35. Ïó∞Î†πÎåÄÎ≥Ñ ÌèâÍ∑† Ïù¥ÎèôÍ±∞Î¶¨Î•º Íµ¨ÌïòÏó¨Îùº.**

In [47]:
df[['Ïó∞Î†πÎåÄÏΩîÎìú', 'Ïù¥ÎèôÍ±∞Î¶¨']].groupby(['Ïó∞Î†πÎåÄÏΩîÎìú']).mean()

              Ïù¥ÎèôÍ±∞Î¶¨
Ïó∞Î†πÎåÄÏΩîÎìú
20ÎåÄ    3211.890552
30ÎåÄ    3341.443859
40ÎåÄ    3514.857416
50ÎåÄ    3593.668100
60ÎåÄ    3538.145737
70ÎåÄ~   3085.039641
~10ÎåÄ   2634.426279

**Question 36. Ïó∞Î†πÎåÄ ÏΩîÎìúÍ∞Ä 20ÎåÄÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥†, Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏù¥ Ï∂îÏ∂úÌïú Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑† Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïúÎã§. ÏµúÏ¢Ö Ï∂îÏ∂úÎêú Îç∞Ïù¥ÌÑ∞Î•º ÎåÄÏó¨ÏùºÏûê, ÎåÄÏó¨ÏÜå Î≤àÌò∏ ÏàúÏÑúÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ 1ÌñâÎ∂ÄÌÑ∞ 200ÌñâÍπåÏßÄÏùò ÌÉÑÏÜåÎüâÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê 3Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº.**

In [48]:
# sol1
target1 = df[(df['Ïó∞Î†πÎåÄÏΩîÎìú']=='20ÎåÄ') & (df['Ïù¥ÎèôÍ±∞Î¶¨']>=df['Ïù¥ÎèôÍ±∞Î¶¨'].mean())]
target2 = target1.copy()
target2['ÌÉÑÏÜåÎüâ'] = target2['ÌÉÑÏÜåÎüâ'].astype('float')
result = target2.sort_values(by=['ÎåÄÏó¨ÏùºÏûê', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏'], ascending=False).iloc[:200]['ÌÉÑÏÜåÎüâ']
round(result.sum()/len(result), 3)

1.643

In [49]:
df['ÌÉÑÏÜåÎüâ'] = pd.to_numeric(df['ÌÉÑÏÜåÎüâ'], errors='coerce')
# df['ÌÉÑÏÜåÎüâ']Ïóê Î∞îÎ°ú astype('float')ÌïòÎ©¥ Î®πÌûàÏßÄ ÏïäÍ≥† copy()Ìï¥ÏÑú Ïì∞Î©¥ ÎêúÎã§
target1 = df[(df['Ïó∞Î†πÎåÄÏΩîÎìú']=='20ÎåÄ') & (df['Ïù¥ÎèôÍ±∞Î¶¨']>=df['Ïù¥ÎèôÍ±∞Î¶¨'].mean())]
target2 = target1.sort_values(by=['ÎåÄÏó¨ÏùºÏûê', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏'], ascending=False).iloc[:200]['ÌÉÑÏÜåÎüâ']
round(target2.sum()/len(target2), 3)

1.643

**Question 38. ÌèâÏùº(Ïõî~Í∏à) Ï∂úÍ∑º ÏãúÍ∞ÑÎåÄ(Ïò§Ï†Ñ 6, 7, 8Ïãú)Ïùò ÎåÄÏó¨ÏÜåÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú ÌëúÌòÑÌïú ÌõÑ, ÎåÄÏó¨ÏãúÍ∞ÑÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò ÏÉÅÏúÑ 3Í∞ú ÎåÄÏó¨ÏÜåÏôÄ Ïù¥Ïö© ÌöüÏàòÎ•º Ï∂úÎ†•ÌïòÎùº.**

In [50]:
target = df[(df['ÎåÄÏó¨ÏùºÏûê'].dt.weekday.isin([0, 1, 2, 3, 4])) & (df['ÎåÄÏó¨ÏãúÍ∞Ñ'].isin([6, 7, 8]))]
result = target.groupby(['ÎåÄÏó¨ÏãúÍ∞Ñ', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).size().to_frame('Ïù¥Ïö© ÌöüÏàò')
result.sort_values(['ÎåÄÏó¨ÏãúÍ∞Ñ', 'Ïù¥Ïö© ÌöüÏàò'], ascending=False).groupby('ÎåÄÏó¨ÏãúÍ∞Ñ').head(3)

            Ïù¥Ïö© ÌöüÏàò
ÎåÄÏó¨ÏãúÍ∞Ñ ÎåÄÏó¨ÏÜåÎ≤àÌò∏
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

# 05. Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µÎèÑ ÏßÄÌëú Îç∞Ïù¥ÌÑ∞

In [51]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

**Question 45. 2019ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ Í∞Å Î≥ÄÏàò Í∞Ñ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÍ≥† ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú ÌõÑ, ÏÉÅÏúÑ 5Í∞úÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº. Ïª¨ÎüºÎ™ÖÏùÄ v1, v2, corrÏúºÎ°ú ÌëúÏãúÌïòÎùº.**

In [52]:
# sol1
target = df[df['ÎÖÑÎèÑ']==2019].corr(numeric_only=True).unstack().to_frame().reset_index().rename(columns={0: 'corr',
                                                                                                          'level_0': 'v1',
                                                                                                          'level_1': 'v2'})
target[(target['v1']!=target['v2'])].drop_duplicates('corr').sort_values(by='corr', ascending=False).head(5)

       v1     v2      corr
22  ÏÉÅÎåÄGDP  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  0.835462
11     Ï†êÏàò  ÏÉÅÎåÄGDP  0.793883
13     Ï†êÏàò  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  0.779883
12     Ï†êÏàò  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  0.777058
21  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  0.754906

In [53]:
# sol2
target = df[df['ÎÖÑÎèÑ']==2019].corr(numeric_only=True).unstack().to_frame().reset_index().dropna()
result = target[target[0]!=1].sort_values(0, ascending=False).drop_duplicates(0)
answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1', 'v2', 'corr']
answer

      v1     v2      corr
0  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÉÅÎåÄGDP  0.835462
1  ÏÉÅÎåÄGDP     Ï†êÏàò  0.793883
2  ÌñâÎ≥µÍ∏∞ÎåÄÏπò     Ï†êÏàò  0.779883
3  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê     Ï†êÏàò  0.777058
4  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÏÉÅÎåÄGDP  0.754906

**Question 46. ÎÖÑÎèÑÎ≥Ñ ÌïòÏúÑ ÌñâÎ≥µÏ†êÏàòÏùò ÌïòÏúÑ 5Í∞ú Íµ≠Í∞ÄÏùò ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàòÎ•º Íµ¨ÌïòÏó¨Îùº.**

In [54]:
# sol1
df.sort_values(by='Ï†êÏàò').groupby('ÎÖÑÎèÑ').head(5).groupby('ÎÖÑÎèÑ')['Ï†êÏàò'].mean(numeric_only=True)

ÎÖÑÎèÑ
2018    3.1800
2019    3.1408
Name: Ï†êÏàò, dtype: float64

In [55]:
# sol2
df.groupby('ÎÖÑÎèÑ').tail(5).groupby('ÎÖÑÎèÑ')['Ï†êÏàò'].mean(numeric_only=True)

ÎÖÑÎèÑ
2018    3.1800
2019    3.1408
Name: Ï†êÏàò, dtype: float64

**Question 50. 2018ÎÖÑ, 2019ÎÖÑ Î™®Îëê Í∏∞Î°ùÏù¥ ÏûàÎäî ÎÇòÎùºÎì§ Ï§ë Ïó∞ÎèÑÎ≥Ñ ÌñâÎ≥µÏ†êÏàòÍ∞Ä Í∞ÄÏû• Ï¶ùÍ∞ÄÌïú ÎÇòÎùºÏôÄ Í∑∏ Ï¶ùÍ∞Ä ÏàòÏπòÎäî?**

In [56]:
cnt = df['ÎÇòÎùºÎ™Ö'].value_counts()
target = cnt[cnt>=2].index

df2 = df.copy()
multiple = df2[df2['ÎÇòÎùºÎ™Ö'].isin(target)].reset_index(drop=True)
multiple.loc[multiple['ÎÖÑÎèÑ']==2018, 'Ï†êÏàò'] = multiple[multiple['ÎÖÑÎèÑ']==2018]['Ï†êÏàò'].values * (-1)
# ÏúÑÏùò ÏΩîÎìúÏóêÏÑú 2018ÎÖÑÎèÑ Í∞íÏùÑ -Î°ú ÎåÄÏûÖÌï¥ Ï§Ä Í≤É
# Í∑∏ÎûòÏïº groupby Ïù¥ÌõÑ sum ÌñàÏùÑ Îïå Ï∞®Ïù¥Í∞íÏù¥ Í≥ÑÏÇ∞ÎêòÎØÄÎ°ú
result = multiple.groupby('ÎÇòÎùºÎ™Ö').sum()['Ï†êÏàò'].sort_values().to_frame().iloc[-1]
result

Ï†êÏàò    0.87
Name: Burundi, dtype: float64

In [57]:
df[df['ÎÇòÎùºÎ™Ö']=='Malaysia']

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
79,80,Malaysia,5.339,1.221,1.171,0.828,0.508,0.260,0.024,2019
190,35,Malaysia,6.322,1.161,1.258,0.669,0.356,0.311,0.059,2018

In [58]:
df[df['ÎÇòÎùºÎ™Ö']=='Burundi']

     ÌñâÎ≥µÎû≠ÌÇπ      ÎÇòÎùºÎ™Ö     Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ    Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
144   145  Burundi  3.775  0.046  0.447  0.380    0.220  0.176     0.180  2019
311   156  Burundi  2.905  0.091  0.627  0.145    0.065  0.149     0.076  2018

In [59]:
multiple.loc[multiple['ÎÖÑÎèÑ']==2019, 'Ï†êÏàò']

0      7.769
1      7.600
2      7.554
3      7.494
4      7.488
       ...
147    3.334
148    3.231
149    3.203
150    3.083
151    2.853
Name: Ï†êÏàò, Length: 152, dtype: float64

# 06. ÏßÄÏó≠Íµ¨ ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâ Îç∞Ïù¥ÌÑ∞

In [60]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

**Question 52. 3ÏõîÎã¨Ïùò ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïò®ÎèÑÏùò ÌèâÍ∑†Îì§ Ï§ë Í∞ÄÏû• ÎÇÆÏùÄ ÏãúÍ∞ÑÎåÄÏùò Ïò®ÎèÑÎ•º Ï∂úÎ†•ÌïòÎùº.**

In [61]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
target = df[df['DateTime'].dt.month==3]
# result = target.groupby(target['DateTime'].dt.hour)['Temperature'].mean().to_frame().sort_values(by='Temperature').values[0]
result = target.groupby(target['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[0]
print(result)

11.506612903225806

**Question 56. TemperatureÏùò Í∞íÏù¥ 10 ÎØ∏ÎßåÏùò Í≤ΩÏö∞ A, 10 Ïù¥ÏÉÅ 20 ÎØ∏ÎßåÏùò Í≤ΩÏö∞ B, 20 Ïù¥ÏÉÅ 30 ÎØ∏ÎßåÏùò Í≤ΩÏö∞ C, Í∑∏ Ïô∏Ïùò Í≤ΩÏö∞ DÎùºÍ≥† Ìï† Îïå Í∞Å Îã®Í≥ÑÏùò Îç∞Ïù¥ÌÑ∞ Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº.**

In [62]:
def checkTem(x):
    if x<10:
        return 'A'
    elif x<20:
        return 'B'
    elif x<30:
        return 'C'
    else:
        return 'D'
    
df['Temperature'].apply(checkTem).value_counts()

B    26993
C    21105
A     2874
D     1444
Name: Temperature, dtype: int64

# 07. Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [63]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**Question 66. Í∞Å GenerationÏùò AttackÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨ Ïãú ÏÉÅÏúÑ 3Í∞ú Îç∞Ïù¥ÌÑ∞(18Í∞ú) AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº**

In [64]:
df.sort_values(by=['Generation', 'Attack']).groupby('Generation').head(3)['Attack'].mean()

19.5

**Question 70. Ìïú Î≤àÏî©Îßå Ï°¥Ïû¨ÌïòÎäî (Type1, Type2)Ïùò ÏåçÏùÑ Í∞Å ÏÑ∏ÎåÄ(Generation)Îäî Í∞ÅÍ∞Å Î™á Í∞úÏî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÍ∞Ä?**

In [65]:
target1 = df[['Type 1', 'Type 2']].value_counts()
target2 = target1[target1==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)
    
result = pd.concat(lst).reset_index(drop=True)['Generation'].value_counts().sort_index()
result

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

# 08. Í∏∞Ïò® Í∞ïÏàòÎüâ Îç∞Ïù¥ÌÑ∞

In [66]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  Ïù¥ÌôîÎèôÍ∞ïÏàò  Ïù¥ÌôîÎèôÍ∏∞Ïò®  ÏàòÏòÅÎèôÍ∞ïÏàò  ÏàòÏòÅÎèôÍ∏∞Ïò®
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

**Question 81. Ïó¨Î¶ÑÏ≤†(6Ïõî, 7Ïõî, 8Ïõî) Ïù¥ÌôîÎèôÏù¥ ÏàòÏòÅÎèôÎ≥¥Îã§ ÎÜíÏùÄ Í∏∞Ïò®ÏùÑ Í∞ÄÏßÑ ÏãúÍ∞ÑÎåÄÎäî Î™á Í∞úÏù∏Í∞Ä?**

In [67]:
df['time'] = pd.to_datetime(df['time'])
target = df[df['time'].dt.month.isin([6, 7, 8])]
len(target[target['Ïù¥ÌôîÎèôÍ∏∞Ïò®']>target['ÏàòÏòÅÎèôÍ∏∞Ïò®']]['time'].dt.hour)

1415

# 09. Ìï∏ÎìúÌè∞ Í∞ÄÍ≤© ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [68]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

**Question 90. price_rangeÏùò Í∞Å valueÎ•º Í∑∏Î£πÌïëÌïòÏó¨ Í∞Å Í∑∏Î£πÏùò n_cores Ïùò ÎπàÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ valueÏôÄ Í∑∏ ÎπàÎèÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº.**

In [69]:
df[['price_range', 'n_cores']].value_counts().reset_index().sort_values(by=['price_range', 0], ascending=False).drop_duplicates('price_range', keep='first')

   price_range  n_cores   0
3            3        5  70
2            2        4  73
0            1        4  76
6            0        2  69

In [70]:
df[['price_range', 'n_cores']].groupby(['price_range', 'n_cores']).size().sort_values(0).groupby(level=0).tail(1)

C:\Users\futur\AppData\Local\Temp\ipykernel_18752\2738451872.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  df[['price_range', 'n_cores']].groupby(['price_range', 'n_cores']).size().sort_values(0).groupby(level=0).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

# 10. ÎπÑÌñâ ÌÉëÏäπ Í≤ΩÌóò ÎßåÏ°±ÎèÑ Îç∞Ïù¥ÌÑ∞

In [71]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

**Question 92. Arrival Delay in Minutes Ïª¨ÎüºÏù¥ Í≤∞Ï∏°ÏπòÏù∏ Îç∞Ïù¥ÌÑ∞ Ï§ë, ‚Äòneutral or dissatisfied‚Äô Î≥¥Îã§ ‚Äòsatisfied‚ÄôÏùò ÏàòÍ∞Ä Îçî ÎÜíÏùÄ ClassÎäî Ïñ¥ÎîîÏù∏Í∞Ä?**

In [72]:
target = df.loc[df['Arrival Delay in Minutes'].isnull()].groupby(['Class', 'satisfaction'], as_index=False).size().pivot(index='Class', columns='satisfaction')
target[target['size']['neutral or dissatisfied'] < target['size']['satisfied']]

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

# 11. ÏùòÎ£å ÎπÑÏö© ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [73]:
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

**Question 94. Ìù°Ïó∞ÏûêÏôÄ ÎπÑÌù°Ïó∞Ïûê Í∞ÅÍ∞Å chargesÏùò ÏÉÅÏúÑ 10% Í∑∏Î£πÏùò ÌèâÍ∑†Ïùò Ï∞®Ïù¥Îäî?**

In [74]:
# sol1
target1 = train[train['smoker']=='yes']
target2 = train[train['smoker']=='no']
target1[target1['charges']>=target1['charges'].quantile(0.9)]['charges'].mean() - target2[target2['charges']>=target2['charges'].quantile(0.9)]['charges'].mean()

29297.954548156144

In [75]:
# sol2
sy = train[(train['smoker']=='yes') & (train['charges']>=train[train['smoker']=='yes']['charges'].quantile(0.9))]
sn = train[(train['smoker']=='no') & (train['charges']>=train[train['smoker']=='no']['charges'].quantile(0.9))]
sy['charges'].mean() - sn['charges'].mean()

29297.954548156144

# 12. ÌÇπÏπ¥Ïö¥Ìã∞ Ï£ºÍ±∞ÏßÄ Í∞ÄÍ≤© ÏòàÏ∏° Î¨∏Ï†ú Îç∞Ïù¥ÌÑ∞

In [76]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

**Question 95. bedroomsÏùò ÎπàÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Îì§Ïùò priceÏùò ÏÉÅÏúÑ 10%ÏôÄ ÌïòÏúÑ 10%Í∞íÏùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº.**

In [77]:
t1 = df[df['bedrooms']==df['bedrooms'].value_counts().sort_values().index[-1]]['price'].quantile(0.9)
t9 = df[df['bedrooms']==df['bedrooms'].value_counts().sort_values().index[-1]]['price'].quantile(0.1)
t1 - t9

505500.0

# 13. ÎåÄÌïôÏõê ÏûÖÌïô Í∞ÄÎä•ÏÑ± Îç∞Ïù¥ÌÑ∞

In [78]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

**Question 96. Serial No. Ïª¨ÎüºÏùÑ Ï†úÏô∏ÌïòÍ≥† ‚ÄòChance of Admit‚ÄôÏùÑ Ï¢ÖÏÜçÎ≥ÄÏàò, ÎÇòÎ®∏ÏßÄ Î≥ÄÏàòÎ•º ÎèÖÎ¶ΩÎ≥ÄÏàòÎùº Ìï†Îïå, ÎûúÎç§Ìè¨Î†àÏä§Ìä∏Î•º ÌÜµÌï¥ ÌöåÍ∑Ä ÏòàÏ∏°Ìï† Îïå Î≥ÄÏàò Ï§ëÏöîÎèÑ Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº(ÏãúÎìúÍ∞íÏóê Îî∞Îùº ÏàúÏÑúÎäî Îã¨ÎùºÏßàÏàò ÏûàÏùå).**

In [79]:
df.drop('Serial No.', axis=1, inplace=True)

In [80]:
from sklearn.ensemble import RandomForestRegressor

y = df.pop('Chance of Admit')
x = df
rf = RandomForestRegressor()
model = rf.fit(x, y)
pd.DataFrame({'importance': model.feature_importances_, 'columns': x.columns})

   importance            columns
0    0.080255          GRE Score
1    0.036690        TOEFL Score
2    0.012836  University Rating
3    0.024850                SOP
4    0.025159                LOR
5    0.813016               CGPA
6    0.007195           Research

In [81]:
from sklearn.ensemble import RandomForestRegressor
# df.drop('Serial No.', axis=1, inplace=True)
# y = df.pop('Chance of Admit')
# x = df
rf = RandomForestRegressor()
model = rf.fit(x, y)
pd.DataFrame({'importance': model.feature_importances_}, x.columns).sort_values(by='importance', ascending=False)

                   importance
CGPA                 0.805837
GRE Score            0.092100
TOEFL Score          0.031909
SOP                  0.024882
LOR                  0.023766
University Rating    0.013506
Research             0.008000

# 14. Î†àÎìú ÏôÄÏù∏ ÌÄÑÎ¶¨Ìã∞ ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [82]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

**Question 97. quality Í∞íÏù¥ 3Ïù∏ Í∑∏Î£πÍ≥º 8Ïù∏ Í∑∏Î£πÏùò Ïª¨ÎüºÎ≥Ñ ÎèÖÎ¶ΩÎ≥ÄÏàòÏùò ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùò Ï∞®Ïù¥Î•º Íµ¨Ìï†Îïå Í∑∏Í∞íÏù¥ Í∞ÄÏû• ÌÅ∞ Ïª¨ÎüºÎ™ÖÏùÑ Íµ¨ÌïòÏó¨Îùº.**

In [83]:
# sol1
q3 = df[df['quality']==3].std(axis=0).reset_index().rename(columns={0: 'q3std'})
q8 = df[df['quality']==8].std(axis=0).reset_index().rename(columns={0: 'q8std'})
target = pd.merge(q3, q8)
target['diff'] = abs(target['q3std'] - target['q8std'])
target[target['diff']==max(target['diff'])].iloc[0, 0]

'total sulfur dioxide'

In [84]:
# sol2
abs((df.loc[df.quality==8].std() - df.loc[df.quality==3].std())).sort_values().index[-1]

'total sulfur dioxide'

# 15. ÌòÑÎåÄ Ï∞®Îüâ Í∞ÄÍ≤© Î∂ÑÎ•ò Î¨∏Ï†ú Îç∞Ïù¥ÌÑ∞

In [85]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(¬£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

**Question 101. Ï†ïÎ≥¥(rowÏàò)Í∞Ä Í∞ÄÏû• ÎßéÏùÄ ÏÉÅÏúÑ 3Ï∞®Ï¢ÖÏùò priceÍ∞íÏùò Í∞Å ÌèâÍ∑†Í∞íÏùÄ?**

In [86]:
df[df['model'].isin(df['model'].value_counts().index[:3])].groupby(['model'])['price'].mean()

model
 I10        7646.137891
 I30       11651.821759
 Tucson    15805.441373
Name: price, dtype: float64

# 16. ÎãπÎá® Ïó¨Î∂Ä ÌåêÎã® Îç∞Ïù¥ÌÑ∞

In [87]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

**Question 102. Outcome Í∞íÏóê Îî∞Î•∏ Í∞Å Í∑∏Î£πÏùò Í∞Å Ïª¨ÎüºÏùò ÌèâÍ∑† Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº.**

In [88]:
# sol1
target = df.groupby('Outcome').mean()
abs(target.loc[0] - target.loc[1])

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
dtype: float64

In [89]:
# sol2
df.groupby('Outcome').mean().diff().iloc[1, :] # loc[1]

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: 1, dtype: float64

# 17. ÎÑ∑ÌîåÎ¶≠Ïä§ Ï£ºÏãù Îç∞Ïù¥ÌÑ∞

In [90]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

**Question 103. Îß§ÎÖÑ 5ÏõîÎã¨Ïùò openÍ∞ÄÍ≤©Ïùò ÌèâÍ∑†Í∞íÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº.**

In [91]:
# sol1
df['Date']= pd.to_datetime(df['Date'])
target = df[df['Date'].dt.month==5]
target.groupby(target['Date'].dt.strftime('%Y-%m'))['Open'].mean().to_frame('meanOpen')

           meanOpen
Date
2002-05    1.155833
2003-05    1.641497
2004-05    4.261143
2005-05    1.951905
2006-05    4.163571
2007-05    3.159351
2008-05    4.435034
2009-05    5.790571
2010-05   14.417071
2011-05   34.650272
2012-05   10.523247
2013-05   31.936429
2014-05   51.121292
2015-05   85.057429
2016-05   92.705715
2017-05  158.255455
2018-05  329.779541
2019-05  359.664548
2020-05  433.880499
2021-05  496.923996

In [92]:
# sol2
target = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean(numeric_only=True)
answer = target.loc[target.index.str.contains('-05')].Open
pd.DataFrame(answer)

               Open
Date
2002-05    1.155833
2003-05    1.641497
2004-05    4.261143
2005-05    1.951905
2006-05    4.163571
2007-05    3.159351
2008-05    4.435034
2009-05    5.790571
2010-05   14.417071
2011-05   34.650272
2012-05   10.523247
2013-05   31.936429
2014-05   51.121292
2015-05   85.057429
2016-05   92.705715
2017-05  158.255455
2018-05  329.779541
2019-05  359.664548
2020-05  433.880499
2021-05  496.923996

# 18. NBA ÏÑ†Ïàò Îä•Î†•Ïπò Îç∞Ïù¥ÌÑ∞

In [93]:
pd.set_option('display.max_columns',50)
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

**Question 106. ÏÑ†ÏàòÎì§Ïùò Ïù¥Î¶ÑÏùÄ first_name+ Í≥µÎ∞± + last_nameÏúºÎ°ú Ïù¥Î£®Ïñ¥Ï†∏ ÏûàÎã§. Í∞ÄÏû• ÎßéÏùÄ first_nameÏùÄ Î¨¥ÏóáÏù¥Î©∞ Î™á Ìöå Î∞úÏÉùÌïòÎäîÏßÄ ÌôïÏù∏ÌïòÎùº.**

In [94]:
df['first_name'] = df['Player'].str.split(' ').str[0].str.lower()
df['first_name'].value_counts().head(1)

justin    14
Name: first_name, dtype: int64

**Question 109. GÏª¨ÎüºÏùÄ Ï∞∏Ïó¨Ìïú Í≤ΩÍ∏∞Ïùò Ïà´ÏûêÏù¥Îã§. ÌåÄÎ≥ÑÎ°ú Í∞ÄÏû• ÎÜíÏùÄ Í≤ΩÍ∏∞ Ï∞∏Ïó¨ ÏàòÎ•º Í∞ÄÏßÑ ÏÑ†ÏàòÎì§Ïùò Í≤ΩÍ∏∞ Ï∞∏Ïó¨ Ïà´ÏûêÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº.**

In [95]:
# sol1
df.sort_values(['Tm', 'G'], ascending=False).drop_duplicates('Tm', keep='first')['G'].mean()

77.51612903225806

In [96]:
# sol2
df.groupby(['Tm', 'Player'])['G'].sum().reset_index().sort_values(by='G', ascending=False).drop_duplicates('Tm', keep='first').mean(numeric_only=True).values[0]

77.51612903225806

In [97]:
# sol3
df.sort_values(['Tm', 'G']).groupby('Tm').tail(1).G.mean()

77.51612903225806

# Ï∞∏Í≥†

- [[TIL]DataFrame_ValueError: could not convert string to float: 'None' Ìï¥Í≤∞](https://velog.io/@cbkyeong/TILDataFrameValueError-could-not-convert-string-to-float-None-%ED%95%B4%EA%B2%B0)