In [1]:
import pandas as pd
import datetime

# 유튜브 인기동영상 데이터

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)

In [3]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

**Question 01. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)**

In [4]:
df.channelId.value_counts().head(10)

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: channelId, dtype: int64

In [5]:
df.channelId.value_counts().head(10).index

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object')

In [6]:
Ans = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
Ans

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

**Question 02. dislikes 수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라**

In [7]:
list(df[df['dislikes'] > df['likes']].channelTitle.unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

**Quesiton 03. channelId의 경우 고유값이므로 이를 통해 채널명을 한 번이라도 바꾼 채널의 갯수를 구하여라**

In [8]:
df[['channelTitle', 'channelId']].drop_duplicates()

                  channelTitle                 channelId
0                          장삐쭈  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  서울시 · Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 고기남자 MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        스브스밥집  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60023                      멸치형  UCsiuN8Jco3LbbuTyGuqRgKg
60028          키키TV, 전지적 예능 시점  UCRnEWJKVc5FpC-9Z3CBt2ZQ
60035                    기용이tv  UCkMN06eC97XL1qR1bExdwWg
60036       INSSAOPPA G [인싸오빠]  UCp9G3sWsE42Qo9jgnB1ta2Q
60068              한국닌텐도 공식 채널  UCRCK5FCJtomQT3b88jXI_DA

[1843 rows x 2 columns]

In [9]:
df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [10]:
change = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

**Question 04. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?**

In [11]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [12]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().index[0]

24

**Question 05. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라**

In [13]:
target = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
target

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [14]:
Ans = target.pivot(index='categoryId', columns='trending_date2')
Ans

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

**Question 06.  viewcount 대비 댓글 수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)**

In [15]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [16]:
target = df.loc[df.view_count!=0]
targetCopy = target.copy()
targetCopy['ratio'] = (target['comment_count'] / target['view_count']).dropna()
Ans = targetCopy.sort_values(by='ratio', ascending=False).iloc[0].title
Ans

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

**Question 07. viewcount 대비 댓글 수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인 경우는 제외한다)**

In [17]:
ratio = (target['comment_count'] / target['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]
Ans = df.iloc[ratio[ratio!=0].index[0]].title
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [18]:
ratio

50071    0.000000
25225    0.000000
52155    0.000000
54884    0.000000
10772    0.000000
           ...
51494    0.150621
52786    0.150693
51264    0.153998
51047    0.159655
50830    0.161516
Length: 60386, dtype: float64

In [19]:
ratio[ratio!=0].index[0]

46005

In [20]:
df.iloc[ratio[ratio!=0].index[0]]

title             Join the BTS #PermissiontoDance Challenge only...
channelTitle                                                YouTube
categoryId                                                       27
view_count                                                 46458563
likes                                                             0
dislikes                                                          0
comment_count                                                     1
channelId                                  UCBR8-60-B28hp2BmDPdntcQ
trending_date2                                  2021-08-09 00:00:00
Name: 46005, dtype: object

**Question 08. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)**

In [21]:
target = df.loc[(df.likes!=0) & (df.dislikes!=0)]
num = (target['dislikes'] / target['likes']).sort_values().index[0]
Ans = df.iloc[num].title
Ans

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [22]:
target

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) 월드스타 한 분 더 모셨습니다. 비x박진영 & 싸이, 비주얼 가...",시즌비시즌 Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*풀코스로 먹습니다* 🍗치킨 + 🍕피자 + 🥧디저트,공룡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[놀면 뭐하니? 예고] 우린 깐부잖아🦑 놀뭐에 등장한 월드클래스 초대손님!! MBC...,놀면 뭐하니?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,먹방 전쟁 : 사랑스러War (feat. 401 정육식당),김종국 GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,＂너.. 광수지?＂ 협상에 거짓말부터 던지는 광수 닮은꼴 김연경 선수 [런닝맨|21...,스브스 예능맛집,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (엔하이픈) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [23]:
(target['dislikes'] / target['likes']).sort_values()

11477     0.000523
12168     0.000598
11969     0.000602
11740     0.000620
12386     0.000626
           ...
26887    12.657785
27108    12.807119
27355    12.936469
27578    13.009868
27789    13.082719
Length: 59693, dtype: float64

In [24]:
(target['dislikes'] / target['likes']).sort_values().index

Int64Index([11477, 12168, 11969, 11740, 12386, 51744, 51952, 51526, 52172,
            51086,
            ...
            27773, 27991, 26229, 26447, 26669, 26887, 27108, 27355, 27578,
            27789],
           dtype='int64', length=59693)

In [25]:
(target['dislikes'] / target['likes']).sort_values().index[0]

11477

**Quesiton 09. 가장 많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)**

In [26]:
df.loc[df.channelId==df.channelId.value_counts().index[0]].channelTitle.unique()[0]

'짤툰'

**Question 10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?**

In [27]:
(df[['title', 'channelId']].value_counts()>=20).sum()

40

# 유튜브 공범 콘텐츠 동영상 데이터

In [28]:
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

**Question 11. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇 개의 데이터씩 가지고 있는지 확인하라**

In [29]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

In [30]:
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

**Question 12. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라**

In [31]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [32]:
video.sort_values(['videoname', 'ct'])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [33]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [34]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']]

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

In [35]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

**Question 13. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라**

In [36]:
channel[channel['ct']>'2021-10-03'].sort_values(['ct', 'channelname']).drop_duplicates('channelname')[['channelname', 'subcnt']].reset_index(drop=True)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

**Question 14. 각 채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라**

In [37]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [38]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']

In [39]:
end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.columns = ['channelname', 'end_sub']
start_df.columns = ['channelname', 'start_sub']

tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname', 'del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

**Question 15. 공범 EP1의 비디오정보 데이터 중 수집 간격이 5분 이하, 20분 이상인 데이터 구간(해당 시점 전,후) 의 시각을 모두 출력하라**

In [40]:
ep1 = video.loc[video.videoname.str.contains('EP1')].sort_values(by='ct').reset_index(drop=True)
ep1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [41]:
ep1[(ep1.ct.diff(1) >= datetime.timedelta(minutes=20)) |
    (ep1.ct.diff(1) <= datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [42]:
ep1[ep1.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

**Question 16. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터프레임으로 만들고 출력하라**

In [43]:
start_date = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct', 'videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date', 'videoname']]
display(answer)

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

**Quesion 17. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라**

In [44]:
video['time'] = video.ct.dt.hour

answer = video.loc[video['time']==21]\
        .sort_values(['ct', 'videoname'])\
        .drop_duplicates('videoname')\
        .sort_values('viewcnt', ascending=False)[['ct', 'videoname', 'viewcnt']]\
        .reset_index(drop=True)

In [45]:
answer

                   ct videoname  viewcnt
0 2021-10-30 21:00:08    공범 EP8   264029
1 2021-10-28 21:00:04    공범 EP7   252032
2 2021-10-16 21:00:04    공범 EP4   217674
3 2021-10-23 21:00:06    공범 EP6   213899
4 2021-10-21 21:00:04    공범 EP5   201179
5 2021-10-09 21:00:03    공범 EP2   148144
6 2021-10-14 21:00:04    공범 EP3   147183
7 2021-10-07 21:00:03    공범 EP1   117340

**Question 18. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라**

In [46]:
target = video.sort_values('ct').drop_duplicates('videoname', keep='last')[['ct', 'videoname', 'dislikecnt', 'likecnt']]
target

                       ct videoname  dislikecnt  likecnt
11543 2021-11-01 15:30:03    공범 EP4         408    22703
3491  2021-11-01 15:30:03    공범 EP1        1113    41043
9263  2021-11-01 15:30:03    공범 EP3         508    22719
6695  2021-11-01 15:30:03    공범 EP2         763    25566
13105 2021-11-01 15:30:04    공범 EP5         421    19926
14934 2021-11-01 15:30:04    공범 EP6         389    24494
13660 2021-11-01 15:30:05    공범 EP7         400    29335
15200 2021-11-01 15:30:05    공범 EP8        3621    25616

In [47]:
target['ratio'] = target['dislikecnt'] / target['likecnt']
target.sort_values(by='ratio')[['videoname', 'ratio']].reset_index(drop=True)

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

**Question 19. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오**

In [48]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

target = video.loc[(video.ct >= start) & (video.ct <= end)].reset_index(drop=True)
target

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname', 'viewcnt']].groupby('videoname').agg(check)
answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

**Question 20. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라**

In [49]:
video[video.duplicated()==True][['ct', 'videoname']]

                      ct videoname
722  2021-10-13 09:41:37    공범 EP1
3927 2021-10-13 09:41:37    공범 EP2

In [50]:
# video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]

# 월드컵 출전선수 골 기록 데이터

In [51]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')

In [52]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

**Question 21. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라**

In [53]:
df.groupby('Country').sum('Goals').sort_values('Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

**Question 22. 주어진 전체 기간동안 골 득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라**

In [54]:
df.groupby('Country').size().sort_values(ascending=False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

**Question 23. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라**

In [55]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [56]:
df['yearLst'] = df['Years'].str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check==False])
result

45

**Question 24. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라**

In [57]:
df2 = df[df.check==True].reset_index(drop=True)

In [58]:
df2.shape[0]

1250

**Question 24. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라**

In [59]:
df2['LenCup'] = df2['yearLst'].map(lambda x: len(x))
len(df2[df2['LenCup']==4])

16

In [60]:
# df2['LenCup'] = df2['yearLst'].str.len()
# result = df2['LenCup'].value_counts()[4]

**Question 26. Yugoslavia 국가의 월드컵 출전 횟수가 2회인 선수들의 숫자를 구하여라**

In [61]:
len(df2[(df2['Country']=='Yugoslavia') & (df2['LenCup']==2)]['Player'].drop_duplicates())

7

**Question 27. 2002년도에 출전한 전체 선수는 몇 명인가?**

In [62]:
len(df2[df2.Years.str.contains('2002')==True]['Player'].drop_duplicates())

156

In [63]:
# len(df2[df2.Years.str.contains('2002')])

**Question 28. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)**

In [64]:
len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

**Quesiton 29. 월드컵 출전 횟수가 1회 뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?**

In [65]:
df2[df2.LenCup==1].sort_values('Goals', ascending=False).Player.values[0]

'Just Fontaine'

In [66]:
# df2[df2['LenCup']==1][['Player', 'Goals']].sort_values('Goals', ascending=False)['Player'].head(1)

**Question 30. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?**

In [67]:
df2[df2['LenCup']==1]['Country'].value_counts().index[0]

'Brazil'

# 서울시 따릉이 이용 정보 데이터

In [68]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')

In [69]:
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

**Question 31. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라**

In [70]:
result = df['대여일자'].value_counts().sort_index().to_frame()
result

             대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [71]:
result[result['대여일자']==result['대여일자'].max()].index[0]

'2021-06-04'

In [72]:
df['대여일자'].value_counts().sort_index().to_frame()

             대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

**Question 32. 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라**

In [73]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()
df['day_name'].value_counts().to_frame()

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

**Question 33. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라**

In [74]:
result = df.groupby(['day_name', '대여소번호']).size().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index()
answer = result.drop_duplicates('day_name', keep='first').reset_index(drop=True)
display(answer)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [75]:
result

        day_name  대여소번호  size
0      Wednesday    502   282
1      Wednesday    207   257
2      Wednesday   2102   253
3      Wednesday   2715   253
4      Wednesday    152   223
...          ...    ...   ...
16869     Friday   3878     1
16870     Friday   4523     1
16871     Friday   9980     1
16872     Friday   9997     1
16873     Friday   9998     1

[16874 rows x 3 columns]

In [76]:
result.drop_duplicates('day_name', keep='first')

        day_name  대여소번호  size
0      Wednesday    502   282
2402     Tuesday    502   267
4801    Thursday   2715   137
7197      Sunday    502   372
9611    Saturday    502   378
12031     Monday    502   242
14453     Friday    502   277

**Question 34. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라**

In [77]:
daily = df[df.대여구분코드.isin(['일일권', '일일권(비회원)'])].연령대코드.value_counts().sort_index()
total = df.연령대코드.value_counts().sort_index()

ratio = (daily / total).sort_values(ascending=False)

print(ratio)
print('max ratio age', ratio.index[0])

~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64
max ratio age ~10대

**Question 35. 연령대별 평균 이동거리를 구하여라**

In [78]:
df[['연령대코드', '이동거리']].groupby(['연령대코드']).mean()

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

**Question 36. 연령대 코드가 20대인 데이터를 추출하고, 이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다. 최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라**

In [79]:
tw = df[df.연령대코드=='20대'].reset_index(drop=True)

tw_mean = tw[tw.이동거리>=tw.이동거리.mean()].reset_index(drop=True)
tw_mean['탄소량'] = tw_mean['탄소량'].astype('float')

target = tw_mean.sort_values(['대여일자', '대여소번호'], ascending=False).reset_index(drop=True).iloc[:200].탄소량

result = round(target.sum()/len(target), 3)
result

1.613

**Question 37. 6월 7일 ~10대의 “이용건수”의 중앙값은?**

In [80]:
target = df[df['대여일자']=='2021-06-07'][['연령대코드', '이용건수']]
target.이용건수.median()

1.0

In [81]:
# df[(df.연령대코드 == '~10대') & (df.대여일자 == pd.to_datetime('2021-06-07'))].이용건수.median()

**Question 38. 평일 (월~금) 출근 시간대(오전 6, 7, 8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라**

In [82]:
target = df[(df.day_name.isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'])) & (df.대여시간.isin([6, 7, 8]))]
result = target.groupby(['대여시간', '대여소번호']).size().to_frame('이용 횟수')
result.sort_values(['대여시간', '이용 횟수'], ascending=False).groupby('대여시간').head(3)

            이용 횟수
대여시간 대여소번호
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

**Question 39. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라**

In [83]:
df[df['이동거리']>=df['이동거리'].mean()]['이동거리'].std()

5092.139707505305

**Question 40. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라**

In [84]:
df['sex'] = df['성별'].map(lambda x: '여' if x=='F' or x=='f' else '남')
df[['sex', '이동거리']].groupby(['sex']).mean()

            이동거리
sex
남    3209.110871
여    3468.575025

In [85]:
# df['sex'] = df['성별'].map(lambda x: '남' if x in ['M','m'] else '여')

# 전세계 행복도 지표 데이터

In [86]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')

In [87]:
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

**Question 41. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각 년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라**

In [88]:
df[df['행복랭킹']==10]['점수'].mean()

7.259

**Question 42. 각 년도의 행복랭킹 50위 이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라**

In [89]:
df[df['행복랭킹']<=50][['년도', '점수']].groupby('년도').mean()

           점수
년도
2018  6.64678
2019  6.67002

**Question 43. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라**

In [90]:
df[df['년도']==2018][['점수', '부패에 대한인식']].corr().iloc[0, 1]

0.40529152271510027

**Question 44. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라**

In [91]:
len(df[['행복랭킹', '나라명']]) - len(df[['행복랭킹', '나라명']].drop_duplicates())

15

**Quesiton 45. 2019년도 데이터들만 추출하여 각 변수 간 상관계수를 구하고, 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1, v2, corr으로 표시하라**

In [92]:
corr2019 = df[df['년도']==2019].corr(numeric_only=True).unstack().to_frame().reset_index().dropna()

result = corr2019[corr2019[0]!=1].sort_values(0, ascending=False).drop_duplicates(0)

answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1', 'v2', 'corr']

display(answer)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

In [93]:
df[df['년도']==2019].corr(numeric_only=True)

,행복랭킹,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
행복랭킹,1.000000,-0.989096,-0.801947,-0.767465,-0.787411,-0.546606,-0.047993,-0.351959,NaN
점수,-0.989096,1.000000,0.793883,0.777058,0.779883,0.566742,0.075824,0.385613,NaN
상대GDP,-0.801947,0.793883,1.000000,0.754906,0.835462,0.379079,-0.079662,0.298920,NaN
사회적지원,-0.767465,0.777058,0.754906,1.000000,0.719009,0.447333,-0.048126,0.181899,NaN
행복기대치,-0.787411,0.779883,0.835462,0.719009,1.000000,0.390395,-0.029511,0.295283,NaN
선택의 자유도,-0.546606,0.566742,0.379079,0.447333,0.390395,1.000000,0.269742,0.438843,NaN
관대함,-0.047993,0.075824,-0.079662,-0.048126,-0.029511,0.269742,1.000000,0.326538,NaN
부패에 대한인식,-0.351959,0.385613,0.298920,0.181899,0.295283,0.438843,0.326538,1.000000,NaN
년도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df[df['년도']==2019].corr(numeric_only=True).unstack()

행복랭킹  행복랭킹        1.000000
      점수         -0.989096
      상대GDP      -0.801947
      사회적지원      -0.767465
      행복기대치      -0.787411
                    ...
년도    행복기대치            NaN
      선택의 자유도          NaN
      관대함              NaN
      부패에 대한인식         NaN
      년도               NaN
Length: 81, dtype: float64

**Question 46. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라**

In [95]:
df.groupby('년도').tail(5).groupby('년도').mean(numeric_only=True)[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

**Question 47. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라**

In [96]:
target = df[df['년도']==2019]

over = target[target.상대GDP >= target.상대GDP.mean()]['점수'].mean()
under = target[target.상대GDP <= target.상대GDP.mean()]['점수'].mean()

print(over-under)

1.390483957219251

**Question 48. 각 년도의 부패에 대한 인식을 내림차순 정렬했을 때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라**

In [97]:
df.sort_values(['년도', '부패에 대한인식'], ascending=False).groupby('년도').head(20).groupby('년도').mean(numeric_only=True)[['부패에 대한인식']]

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

**Question 49. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라**

In [98]:
target18 = df[(df['년도']==2018) & (df['행복랭킹']<=50)]['나라명']
target19 = df[(df['년도']==2019) & (df['행복랭킹']<=50)]['나라명']

len(set(target18) - set(target19))

4

In [99]:
set(target18) - set(target19)

{'Belize', 'Kuwait', 'Malaysia', 'Thailand'}

**Question 50. 2018년, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?**

In [100]:
count = df.나라명.value_counts()
target = count[count>=2].index

df2 = df.copy()
mul = df2[df2.나라명.isin(target).reset_index(drop=True)]
mul.loc[mul['년도']==2018, '점수'] = mul[mul.년도==2018]['점수'].values * (-1)
result = mul.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
result

점수    0.87
Name: Burundi, dtype: float64

In [101]:
mul.loc[mul['년도']==2018, '점수']

156   -7.632
157   -7.594
158   -7.555
159   -7.495
160   -7.487
       ...
307   -3.355
308   -3.303
309   -3.254
310   -3.083
311   -2.905
Name: 점수, Length: 152, dtype: float64

In [102]:
mul[mul.년도==2018]['점수'].values * (-1)

array([7.632, 7.594, 7.555, 7.495, 7.487, 7.441, 7.328, 7.324, 7.314,
       7.272, 7.19 , 7.139, 7.072, 6.977, 6.965, 6.927, 6.91 , 6.886,
       6.814, 6.774, 6.711, 6.627, 6.489, 6.488, 6.476, 6.441, 6.43 ,
       6.419, 6.388, 6.382, 6.379, 6.374, 6.371, 6.343, 6.322, 6.31 ,
       6.26 , 6.192, 6.173, 6.167, 6.141, 6.123, 6.105, 6.096, 6.083,
       6.072, 6.   , 5.973, 5.952, 5.948, 5.945, 5.933, 5.915, 5.891,
       5.89 , 5.875, 5.835, 5.81 , 5.79 , 5.762, 5.752, 5.739, 5.681,
       5.663, 5.662, 5.64 , 5.636, 5.62 , 5.566, 5.524, 5.504, 5.483,
       5.483, 5.472, 5.43 , 5.41 , 5.398, 5.358, 5.358, 5.347, 5.321,
       5.302, 5.295, 5.254, 5.246, 5.201, 5.199, 5.161, 5.155, 5.131,
       5.129, 5.125, 5.103, 5.093, 5.082, 4.982, 4.975, 4.933, 4.88 ,
       4.806, 4.758, 4.743, 4.724, 4.707, 4.671, 4.657, 4.631, 4.623,
       4.592, 4.586, 4.571, 4.559, 4.5  , 4.471, 4.456, 4.447, 4.441,
       4.433, 4.424, 4.419, 4.417, 4.41 , 4.377, 4.356, 4.35 , 4.34 ,
       4.321, 4.308, 4.301, 4.245, 4.19 , 4.166, 4.161, 4.141, 4.103,
       3.999, 3.964, 3.808, 3.774, 3.692, 3.632, 3.59 , 3.587, 3.582,
       3.495, 3.462, 3.408, 3.355, 3.303, 3.254, 3.083, 2.905])

In [103]:
mul.groupby('나라명').sum()['점수'].sort_values().to_frame()

                 점수
나라명
Malaysia     -0.983
Afghanistan  -0.429
South Sudan  -0.401
Turkmenistan -0.389
Somalia      -0.314
...             ...
Niger         0.462
Liberia       0.480
Guinea        0.570
Benin         0.742
Burundi       0.870

[152 rows x 1 columns]

In [104]:
df[df['나라명']=='Burundi']

     행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
144   145  Burundi  3.775  0.046  0.447  0.380    0.220  0.176     0.180  2019
311   156  Burundi  2.905  0.091  0.627  0.145    0.065  0.149     0.076  2018